* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
}

/* HOW IT WORKS SECTION STYLING*/

img.how_picture{
    float: right;
    max-height: 50%;
    max-width: 50%;
    padding-right: 10px;
}

.title {
    text-align: center;
    padding: 2em;
    font-size: 24px;
}

.how_lists {
    margin-left: 2em;
    padding: 0em 2em;
    
}

.how_lists h1 {
    padding: 20px 10px 20px 10px;
}

.how_lists ul{
    padding-left: 40px;
}