/*
$breakpoint argument choices
- phone 
- tab-port
- tab-land
- big-desktop

Note: 1em = 16px;
for instance: 600px / 16em = 37.7em

*/

/* Widescreens/TV's (min-width: 1201px) */
@media only screen and (min-width: 1201px) {



    /* Features -----------------------*/
    .features {
        display: block;
        font-family: sans-serif;
        text-align: center;
    }

    .features__header {
        color: #111;
        font-size: 3.8rem;
        line-height: 3rem;
        padding: 4rem 0;
        text-transform: uppercase;
        word-spacing: 1px;
    }

    .features__subheader {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.2rem;
        margin-bottom: 5rem;
    }

    .features__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

    }

    .features__card {
        border: 1px solid rgba(0, 128, 0, 0.151);
        box-shadow: 2px 2px 5px 2px rgba(211, 211, 211, 0.274);
        color: #222;
        margin-top: 3rem;
        padding: .5rem;
        padding-bottom: 5.5rem;
        position: relative;
    }

    .features__image {
        margin-top: 3rem;
    }

    .features__h2 {
        font-size: 1.4rem;
        /* padding: 4rem; */
        padding: 2rem 0;
    }

    .features__h3 {
        color: #444;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.7rem;
        text-transform: none;
        padding-bottom: 2rem;
    }

    .features__button {
        align-items: center;
        background-color: green;
        color: #efefef;
        display: flex;
        font-size: 1.1rem;
        height: 3rem;
        justify-content: center;
        letter-spacing: .5px;
        line-height: 1.1rem;
        margin: 4rem auto;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        width: 10rem;
    }

    /* Footer -----------------------*/
    * {
        letter-spacing: 0.8px;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Copyright */
    .footer__copyright {
        align-self: end;
        grid-column: 1/3;
        grid-row: 2;
        font-size: 1rem;
        justify-self: left;
    }

    /* Footer Links */
    .footer__nav {
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding: 5rem;
    }

    /* Social links */
    .footer__social {
        grid-row: 2;
    }

    .fa-facebook,
    .fa-linkedin-in,
    .fa-twitter {
        margin: 0 2.5rem;
        font-size: 2rem;
    }
}

/* Big tablet to 1200px (widths smaller then the 1140px row) */
@media only screen and (max-width: 1200px) {

    /* Features -----------------------*/
    .features {
        display: block;
        font-family: sans-serif;
        text-align: center;
    }

    .features__header {
        color: #111;
        font-size: 3.8rem;
        line-height: 3rem;
        padding: 4rem 0;
        text-transform: uppercase;
        word-spacing: 1px;
    }

    .features__subheader {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.2rem;
        margin-bottom: 5rem;
    }

    .features__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .features__card {
        border: 1px solid rgba(0, 128, 0, 0.151);
        box-shadow: 2px 2px 5px 2px rgba(211, 211, 211, 0.274);
        color: #222;
        margin-top: 3rem;
        padding: .5rem;
        padding-bottom: 5.5rem;
        position: relative;
    }

    .features__image {}

    .features__h2 {
        font-size: 1.4rem;
        /* padding: 4rem; */
        padding: 1rem 0;
    }

    .features__h3 {
        color: #444;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5rem;
        text-transform: none;
        padding-bottom: 2rem;
    }

    .features__button {
        align-items: center;
        background-color: green;
        color: #efefef;
        display: flex;
        font-size: 1.1rem;
        height: 3rem;
        justify-content: center;
        letter-spacing: .5px;
        line-height: 1.1rem;
        margin: 4rem auto;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        width: 10rem;
    }

    /* Footer ------------------*/
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__social {
        padding-bottom: 1rem;
    }

    .fa-facebook,
    .fa-linkedin-in,
    .fa-twitter {
        margin: 0 1rem;
        font-size: 1.7rem;
    }

    .footer__copyright {
        grid-column: 1/3;
        padding-bottom: 1rem;
    }

    .footer__list {
        padding: 1rem;
    }
}


/* Small tablet to big tablet: from 671px to 1023px 
@media only screen and (max-width: 1023px) {
    }


/* Small phones to small tablets: from 481px to 670px */
@media only screen and (max-width: 670px) {

    /* Header*/
    .logo {
        display: flex;
        margin-left: 40px;
        overflow: hidden;
    }

    .logo p {
        margin-top: 20px;
    }

    .hero_box {
        position: relative;
        left: 10px;
        top: 150px;
        width: 100%;
        text-align: center;
    }

    .hero_box .hero_h1 {
        font-size: 35px;
        padding: 12px;
        margin-bottom: 40px;
        color: #fff;
        text-align: center;
    }

    .hero_box p {
        font-size: 20px;
        padding: 10px;
        margin-bottom: 40px;
        color: #fff;
    }

    .hero_box a {
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        background: green;
        padding: 12px;
        margin-top: 30px;
        border-radius: 10px;
        color: #fff;
    }

    /* Features -----------------------*/

    .features {
        display: block;
        font-family: sans-serif;
        text-align: center;
    }


    .features__header {
        color: #111;
        font-size: 3.8rem;
        line-height: 3rem;
        padding: 4rem 0;
        text-transform: uppercase;
        word-spacing: 1px;
    }

    .features__subheader {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.2rem;
        margin-bottom: 5rem;
    }

    .features__cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features__card {
        color: #222;
    }

    .features__image {
        margin-top: 3rem;
    }

    .features__h2 {
        font-size: 1.9rem;
        padding: 4rem;
    }

    .features__h3 {
        color: #444;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 34px;
        padding-bottom: 5rem;
        text-transform: none;
    }

    .features__button {
        align-items: center;
        background-color: green;
        color: #efefef;
        display: flex;
        font-size: 1.1rem;
        height: 3rem;
        justify-content: center;
        letter-spacing: .5px;
        line-height: 1.1rem;
        /* margin: 2.5rem auto; */
        text-align: center;
        text-decoration: none;
        width: 10rem;
    }

    /* Footer -----------------------*/
    .footer {
        align-items: center;
        color: #efefef;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3rem;
        padding: 2rem;
        padding-bottom: 3rem;
        padding-top: 5rem;
    }

    /* Footer Nav */
    .footer__nav {
        align-items: center;
        color: #efefef;
        display: flex;
        flex-direction: column;
        grid-row: 1;
        margin: 0;
        text-align: center;
    }

    .footer__nav::before {
        content: 'Bank of Toucan';
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: 5px;
        line-height: 62px;
        margin-bottom: 3rem;
        margin-top: 1rem;
        padding: 0 2rem;
        text-transform: uppercase;
        word-spacing: 1px;
    }

    .footer__list {
        color: #efefef;
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        margin: 1rem;
    }

    .footer__link {
        color: #efefef;
    }

    /* Copyright */
    .footer__copyright {
        align-self: flex-end;
        font-size: .9rem;
        grid-column: 1;
        grid-row: 3;
        letter-spacing: 1.5px;
        line-height: 20px;
        text-align: center;
    }

    /* Social links */
    .footer__social {
        align-items: center;
        display: flex;
        flex-direction: row;
        grid-column: 1;
        grid-row: 2;
        justify-content: center;
    }

    .footer__social i {
        font-size: 2.2rem;
        margin: 3.5rem 2rem;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    /* Header*/
    .logo {
        display: block;
        margin-left: 13%;
        text-align: center;
        overflow: hidden;
    }

    .logo p {
        margin: 0;
    }

    .hero_box {
        position: relative;
        left: 1px;
        top: 150px;
        width: 100%;
        text-align: center;
    }

    .hero_box .hero_h1 {
        font-size: 35px;
        padding: 12px;
        margin-bottom: 40px;
        color: #fff;
        text-align: center;
    }

    .hero_box p {
        font-size: 20px;
        margin-bottom: 40px;
        color: #fff;
    }

    .hero_box a {
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        background: green;
        padding: 12px;
        margin-top: 30px;
        border-radius: 10px;
        color: #fff;
    }
}