/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

img {
    display: block;
    height: auto;
    width: 100%;
}


/********** HEADER **********/

#header .logo .logo_image {
    width: 50px;
}

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero_img.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/hero_img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.top_header {
    width: 1100px;
    display: flex;
    padding-top: 50px;
    margin: auto;
}

nav {
    display: flex;
    position: relative;
    margin-top: 10px;
}

/* LOGO */
#header .logo {
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

.logo {
    display: flex;
    margin-right: auto;
}

.logo p {
    position: relative;
    bottom: -20px;
    color: #fff;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown_content {
    display: none;
    color: #fff;
    position: absolute;
    border: none;
    background-color: #e5e5e5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
    margin-top: 10px;
    padding: 12px 10px;
}

.dropdown_content a {
    background: none;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    color: green;
}

.hero_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50% -50%);
    width: 60%;
    text-align: center;
    color: #fff;
    word-spacing: 5;
}

#header .logo p {
    align-self: center;
}


/* HOW IT WORKS SECTION STYLING*/


/* HOW IT WORKS SECTION STYLING*/

img.how_picture {
    float: right;
    max-height: auto;
    max-width: 50%;
    position: relative;
    border-radius: 5%;
    padding-right: 10px;
}

.title {
    text-align: center;
    padding: 2em;
    font-size: 24px;
}

.how_lists {
    margin-left: 2em;
}

.how_lists ul {
    padding-bottom: 20px;
}

.how_lists h1 {
    padding: 0px 20px 10px 0px;
    text-decoration-line: underline;
}


/*  CALL TO ACTION SECTION */

.action h1 {
    font-size: 28px;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #383736;
}

.action {
    text-align: center;
}


/* style action button using fill on hover */

.action button {
    position: relative;
    height: 45px;
    width: auto;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.action button:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
    transition: top 0.09s ease-in;
}

.action button:hover {
    color: whitesmoke;
}

.action button:hover:before {
    top: 0;
}


/*add full-width input fields*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}


/* set a style for all buttons*/

button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}


/*set styles for the cancel button*/

.cancelbtn {
    padding: 14px 20px;
    background-color: #FF2E00;
}


/*float cancel and signup buttons and add an equal width*/

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%
}


/*add padding to container elements*/

.container {
    padding: 16px;
}


/*define the modal’s background*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}


/*define the modal-content background*/

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}


/*define the close button*/

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}


/*define the close hover and focus effects*/

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}


/********** FEATURES **********/


/********** FOOTER **********/

#footer {
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    padding: .5rem 0;
    width: 100%;
}


/* Logo Footer */

#footer .footer__logo {
    align-items: center;
    display: grid;
    grid-column: 1;
    grid-row: 1/3;
    grid-template-columns: 85px 40px;
}

#footer .footer__logo img {
    width: 5rem;
}

#footer .footer__logo p {
    font-size: .8rem;
    text-align: left;
}


/* Links Footer */

#footer .footer__links {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#footer .footer__links li a {
    text-decoration: underline;
}


/* Copyright */

#footer .footer__copyright {
    align-self: end;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: .8rem;
}


/* Social links */

#footer .footer__social-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 3;
    justify-content: center;
}

#footer .footer__social-links i {
    margin: .5rem 0;
    font-size: 1.3rem;
}

.fa-twitter {color: #3185bd;}

.fa-facebook {color: rgb(31, 56, 109);}

.fa-linkedin-in {color: rgb(48, 108, 139);}


/* Medium (max-width: 600px)  */

@media screen and (max-width: 870px) {
    /********** FEATURES **********/
    #features {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 2rem;
        text-align: center;
    }
    #features .features__header {
        font-size: 3.5rem;
        padding: 4rem 0;
    }
    #features section {
        border-bottom: 1px solid #000;
        display: flex;
        flex-direction: column;
        padding-bottom: 3.5rem;
        display: flex;
        flex-direction: column;
    }
    #features section h2 {
        font-size: 2rem;
        line-height: 50px;
        padding: 2rem;
    }
    #features .button {
        border: 1px solid;
        margin: 2rem auto;
        padding: 1rem;
        text-align: center;
        width: 10rem;
    }
    #features section h3 {
        font-size: 1.2rem;
        line-height: 34px;
        margin: 2rem auto;
        text-transform: none;
    }
    /********** FOOTER/MOBILE **********/
    #footer {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3rem;
        padding: 2rem;
    }
    /* Logo Footer */
    #footer .footer__logo {
        display: none;
    }
    /* Links Footer */
    #footer .footer__links {
        align-items: center;
        display: flex;
        flex-direction: column;
        grid-row: 1;
        margin: 0;
        text-align: center;
    }
    #footer .footer__links::before {
        content: 'Bank of Toucan';
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: 3rem;
        margin-top: 1rem;
        text-transform: uppercase;
    }
    #footer .footer__links li {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        margin: 1rem;
    }
    /* Copyright */
    #footer .footer__copyright {
        align-self: flex-end;
        font-size: .9rem;
        grid-column: 1;
        grid-row: 3;
        letter-spacing: 1.5px;
        line-height: 20px;
        text-align: center;
    }
    /* Social links */
    #footer .footer__social-links {
        align-items: center;
        display: flex;
        flex-direction: row;
        grid-column: 1;
        grid-row: 2;
        justify-content: center;
    }
    #footer .footer__social-links i {
        font-size: 2rem;
        margin: 3.5rem 2rem;
    }
}