/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

#body {
    margin: auto;
    font-family: 'Comfortaa', cursive;
    text-rendering: optimizeLegibility; 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

img {
    display: block;
    height: auto;
    width: 100%;
}


/********** HEADER **********/
#header .logo .logo_image {
    width: 50px;
} 

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero_img.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/hero_img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.top_header {
    width: 1100px;
    display: flex;
    padding-top: 50px;
    margin: auto;
}

nav {
    display: flex;
    position: relative;
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;

}

nav ul li a {
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

.logo {
    display: flex;
    margin-right: auto;
}

.logo p {
    position: relative;
    bottom: -20px;
    color: #fff;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown_content {
    display: none;
    color: #fff;
    position: absolute;
    border: none;
    background-color: #e5e5e5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    margin-top: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
    margin-top: 10px;
    padding: 12px 10px; 
}

.dropdown_content a {
    background: none;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    color: green;
}

.hero_box {
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50% -50%);
    width: 60%;
    text-align: center;
    color: #fff;
    word-spacing: 5;
}

.hero_box .hero_h1 {
    font-size: 45px;
    padding-bottom: 20px;
}

.hero_box p {
    font-size: 20px;
    margin-bottom: 50px;
}

.hero_box a {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background: green;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
}


/* HOW IT WORKS SECTION STYLING*/
img.how_picture{
    float: right;
    max-height: auto;
    max-width: 50%;
    position: relative;
    border-radius: 5%;
    padding-right: 10px;

}

.title {
    text-align: center;
    padding: 2em;
    font-size: 24px;
}

.how_lists {
    margin-left: 2em;
    
}

.how_lists ul {
    padding-bottom: 20px;
}

.how_lists h1 {
    padding: 0px 20px 10px 0px;
    text-decoration-line: underline;
}

.action h1 {
    font-size: 28px;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #383736;
}

.action {
    text-align: center;
}

.action button {
    position: relative;
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.action button:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
    transition: top 0.09s ease-in;
}

.action button:hover {
    color: whitesmoke;
} 

.action button:hover:before {
    top: 0;
}


/********** FOOTER **********/
#footer {
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 10rem 1fr 8rem;
    padding: .5rem 0;
    width: 100%;
}

#footer .footer__logo {
    align-items: center;
    display: grid;
    grid-column: 1;
    grid-row: 1/3;
    grid-template-columns: repeat(2, 1fr);
} 

#footer .footer__logo img {
    width: 5rem;
}

#footer .footer__logo p {
    font-size: .8rem;
}

#footer .footer__links {
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#footer .footer__copyright {
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: .8rem;
}

#footer .footer__social-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1/3;
    justify-content: center;
}

#footer .footer__social-links i {
    margin: .5rem 0;
    font-size: 1.3rem;
}

.fa-twitter {
    color: #3185bd;
}

.fa-facebook {
    color: rgb(31, 56, 109);
}

.fa-linkedin-in {
    color: rgb(48, 108, 139);
}