/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    text-rendering: optimizeLegibility;
}

/* DESGIN FOR HEADER SECTION */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero_img.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero_img.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh;
    background-attachment: fixed;
}

.top_header {
    display: flex;
    margin: auto;
    padding: 1rem 1rem;
    padding-top: 2rem;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: #fff;
}

.logo_image {
    width: 3em;
}

.logo p {
    margin-top: 1.1em;
    font-size: 12px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

nav ul li {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 10px 0 10px;
    color: #fff;
    font-size: 17px;
}

.div_hamburger {
    color: #fff;
}

.hamburgerBar {
    color: #fff;
    width: 200px;
    height: 20px;
    z-index: 4;
    margin: auto;
}

.hero_box {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50% -50%);
    width: 60%;
    text-align: center;
}

.hero_box .hero_h1 {
    font-size: 45px;
    padding-bottom: 20px;
    color: #fff;
    line-height: 5rem;
}

.hero_box p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    padding-bottom: 5rem;
    line-height: 2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.hero_box a {
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    background: green;
    padding: 12px;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
}

.hero_box,
.modal a {
    background: transparent;
    color: black;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.hero_box .modal p {
    color: black;
    font-size: 15px;
}

/* DESIGN FOR HOW IT WORKS SECTION */
.how_to {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1567427017947-545c5f8d16ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 1px 1px 1px rgb(182, 182, 182);
}

.how_to .how_lists {
    font-size: larger;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.deposit_funds {
    grid-area: 1 / 1 / 2 / 2;
}

.securely_save {
    grid-area: 1 / 2 / 2 / 3;
}

.grow_investment {
    grid-area: 1 / 3 / 2 / 4;
}

.how_to .how_lists {
    font-size: larger;
    font-weight: 700;
}

.fa-seedling {
    font-size: 48px;
}

.fa-dollar-sign {
    font-size: 48px;
}

.fa-receipt {
    font-size: 48px;
}

.title {
    text-align: center;
    padding: 2em;
    font-size: 48px;
    transform: uppercase;
    word-spacing: 1px;
}

.how_lists {
    margin: auto;
    text-align: center;
}

.how_lists ul {
    padding-bottom: 20px;
}

.how_lists h1 {
    padding: 0px 20px 10px 0px;
    text-decoration-line: underline;
}

/*  CALL TO ACTION SECTION */
.action {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 7rem 0;
    padding-bottom: 6.5rem;
    background-color: rgb(45, 39, 24, 0.1);
}

.action h2 {
    font-size: 28px;
    color: #383736;
    font-family: sans-serif;
    text-transform: uppercase;
    align-self: center;
    padding: 1rem 0;
    text-align: center;
    line-height: 3rem;
}

.applyBtn {
    padding: 1rem 0;
}

/* BUTTON HOVER */
.action button {
    position: relative;
    height: 45px;
    width: auto;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    width: 10rem;
}

.action button:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
    transition: top 0.09s ease-in;
}

.action button:hover {
    color: whitesmoke;
}

.action button:hover:before {
    top: 0;
}

label {
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 28px;
    color: black;
}

.modal button {
    position: relative;
    height: 45px;
    width: auto;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.modal button:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
    transition: top 0.09s ease-in;
}

.modal button:hover {
    color: whitesmoke;
}

.modal button:hover:before {
    top: 0;
}

b {
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 28px;
    color: black;
    text-align: center;
}

/* ADD FULL-WIDTH INPUT FIELDS */

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    font-size: 12px;
}

/* SET A STYLE FOR ALL BUTTONS */

button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

/* SET STYLES FOR THE CANCEL BUTTON */

.cancelbtn {
    padding: 14px 20px;
    background-color: #FF2E00;
    padding: 14px 20px;
}

/* FLOAT CANCEL AND SIGNUP BUTTONS AND ADD AN EQUAL WIDTH */

.cancelbtn,
.signupbtn {
    float: center;
    width: 50%;
}

/*add padding to container elements*/

.containerbtn {
    padding: 10px;
}

/* DEFINE THE MODAL'S BACKGROUND */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 25%;
    bottom: 30%;
    width: 600px;
    height: 600px;
    overflow: auto;
    top: 20%;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .5);
    padding-top: 60px;
}

/* DEFINE THE MOADL-CONTENT BACKGROUND */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 40px;
}

/* DEFINE THE CLOSE BUTTON */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

/* DEFINE THE CLOSE HOVER AND FOCUS EFFECTS */

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

/* FEATURES */
.features__container {
    width: 100%;
    padding: 4rem 0;
}

.features {
    max-width: 85vw;
    margin: auto;
}

.features__cards {
    grid-gap: 1rem;
}

.features,
.features__header,
.features__subheader,
.features__cards,
.footer__nav {
    color: #333;
}

.features__image {
    display: block;
    height: auto;
    width: 100%;
}

/* ABOUT(RoKo) FEATURES */
.about__container {
    padding: 7rem 0;
}

.about {
    display: grid;
    padding: 1rem 0;
    padding-bottom: 0;
}

.about__image {
    padding-top: 4rem;
}

.about__header {
    width: 75vw;
}

.about__text {
    font-size: 1.2rem;
    line-height: 3.1rem;
}

.misson__button {
    font-weight: normal;
}

.about__link {
    background-color: hsla(43, 30%, 88%, 1);
    border: 1px solid #efefef;
    border-radius: 4px;
    color: rgb(22, 21, 19);
    font-size: 1.3rem;
    font-weight: 900;
    padding: 15px;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    text-decoration: none;
}

.about__link:hover {
    background-color: hsla(43, 8%, 8%, 1);
    color: hsla(43, 30%, 77%, 1);
}

/* MISSION */
.mission {
    background-color: rgb(45, 39, 24);
    padding: 8rem 0;
}

.mission__header {
    letter-spacing: 5px;
    line-height: 3.5rem;
    word-spacing: 2px;
    padding-bottom: 3rem;
    word-spacing: 2px;
}

.mission__text {
    color: #efefef;
    font-size: 1.2rem;
    line-height: 3.1rem;
    text-align: left;
    width: 80vw;
}

/* FACULTY */
.faculty__header {
    color: rgb(45, 39, 24);
    letter-spacing: 5px;
    margin: 0;
    padding-top: 8rem;
    padding-bottom: 5rem;
    text-align: center;
    word-spacing: 5px;
}

.faculty__name {
    font-weight: normal;
    letter-spacing: 2px;
    padding: 1rem;
    font-weight: 0;
    margin-bottom: 0;
}

.faculty__title {
    letter-spacing: 2px;
}

.faculty__social {
    margin-top: 1rem;
}

.faculty__link {
    margin: 0;
    padding: 0;
}

.faculty .fab {
    margin: 0.2rem;
    padding: 0;
}

/* FOOTER */
.footer {
    background-color: rgb(45, 39, 24);
    border-top: 1px solid #000;
    color: #efefef;
    display: grid;
    font-family: sans-serif;
    width: 100%;
}

.footer .modal .clearfix {
    margin-left: 70px;
}

/* FOOTER NAV */
.footer__nav {
    display: flex;
}

.footer__list {
    list-style: none;
}

.footer__link {
    color: #efefef;
    font-weight: normal;
    text-decoration: none;
}

/* SOCIAL LINKS */
.footer__social {
    display: flex;
}

.fa-facebook,
.fa-linkedin-in,
.fa-twitter {
    margin: 0 1rem;
    font-size: 1.3rem;
}

.fa-twitter {
    color: hsla(204, 100%, 50%, 1);
}

.fa-facebook {
    color: hsla(227, 100%, 62%, 1);
}

.fa-linkedin-in {
    color: hsla(200, 100%, 42%, 1);
}

/********** ABOUT DESIGN **********/
#about {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about_img.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about_img.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
}

.about_hero_content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50% -50%);
    text-align: center;
    color: #fff;
}

.about_hero_content h3 {
    font-size: 30px;
}

/********** SERIVCES DESIGN **********/

.bottom {
    width: 80vw;
    margin: auto;
}

.services_menu {
    display: flex;
}

.services_nav {
    position: relative;
    margin-top: 15px;
}

#services .logo p {
    color: #222;
}

#services nav a {
    color: #222;
}

#services_hero {
    text-align: center;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(,,/images/agreement.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/agreement.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-attachment: fixed;
}

#services_hero h2 {
    margin: 60px auto 40px auto;
    color: #fff;
}

.services_agreement {
    margin: auto;
    display: flex;
    padding: 20px;
    line-height: 1.5;
    color: #fff;
}

.services_content {
    flex: 1;
    padding: 20px 30px;
    line-height: 2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.calc_form {}

.calc_box p {
    margin: 40px auto 30px auto;
    margin: auto;
    display: flex;
    padding: 20px;
    line-height: 1.5;
    color: #222;
}

.services_content h3 {
    margin-bottom: 20px;
}

#services_calculator {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 20px;
    background: #f4f4f4;
}

#services_calculator h3 {
    padding: 40px auto 30px auto;
    font-size: 30px;
}

.services_calc_content {
    display: flex;
    margin: 20px auto auto auto;
    flex-flow: wrap;
}

.calc_box {
    align-items: center;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calc_img {
    width: 100%;
    min-width: 300px;
    height: auto;
}



/********** ABOUT DESIGN **********/

#about {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about_img.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about_img.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
}

.about_hero_content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50% -50%);
    text-align: center;
    color: #fff;
}

.about_hero_content h3 {
    font-size: 30px;
}

/*****************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

/**********************************************
*** BOTTOM PART
**********************************************/
/***** FORM *****/

.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description {}

.add__value {}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active {
    transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus {
    outline: none;
}

/***** LISTS *****/

.container {
    margin: 60px auto;
}

.income {
    /* float: left;
    width: 475px;
    margin-right: 50px; */
}

.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title {
    color: #28B9B5;
}

.expenses__title {
    color: #FF5049;
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
    border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
    background-color: #f7f7f7;
}

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus {
    outline: none;
}

.item__delete--btn:active {
    transform: translateY(2px);
}

.item:hover .item__delete--btn {
    display: block;
}

.item:hover .item__value {
    transform: translateX(5px);
}

.item:hover .item__percentage {
    transform: translateX(5px);
}

.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;
}

.unpaid .item__percentage {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.unpaid .item__percentage {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.unpaid:hover .item__description {
    font-weight: 900;
}

/* ADD PRIVACY POLICY SECTION */

#privacy {
    text-align: justify;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/agreement.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/agreement.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 100px 20px 100px;
    color: white;
}

.privacyHeading {
    text-align: center;
}

#privacy p {
    line-height: 2rem;
}

/* ADD TERMS AND CONDITIONS PAGE */

#terms {
    text-align: justify;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/agreement.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/agreement.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 100px 20px 100px;
    color: white;
}

.termsHeading {
    text-align: center;
}

#terms p {
    line-height: 2rem;
}